body {
    background-color: #2f2f2f;
}

.bitwardensec {
    justify-content: center;
    flex-direction: column;
    display: flex;
    align-items: center;
    text-align: center;
}

.bitwarden-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 200px;
}

.bitwarden-welcomeinfo h2 {
    color: rgba(255, 255, 255, 0.752);
    font-size: 42px;
    margin-bottom: 0;
}

.bitwarden-welcomeinfo p {
    color: rgba(255, 255, 255, 0.55);
    font-size: 22px;
    margin-top: 15px;
    transition: color 0.3s;
    cursor: pointer;
    margin-bottom: 0;
}

.bitwarden-welcomeinfo a {
    color: rgba(255, 255, 255, 0.55);
    font-size: 22px;
    transition: color 0.3s;
    cursor: pointer;
    text-decoration: none;
    line-height: 42px;
}

.bitwarden-welcomeinfo a:hover {
    color: rgba(255, 255, 255, 0.752);
}

.bitwarden-welcomeinfo {
    margin-bottom: 75px;
}

.bitwarden-welcomeinfo p:hover {
    color: rgba(255, 255, 255, 0.752);
}

.bitwarden-definition {
    text-align: center;
}

.bitwarden-definition h2 {
    color: rgba(255, 255, 255, 0.752);
    font-size: 30px;
    margin-bottom: 0;
}

.bitwarden-definition p {
    color: rgba(255, 255, 255, 0.55);
    font-size: 16px;
    margin-top: 15px;
    transition: color 0.3s;
    cursor: pointer;
    margin-bottom: 30px;
    line-height: 27px;
}

.bitwarden-definition p:hover {
    color: rgba(255, 255, 255, 0.752);
}

.moreinformations8 {
    color: rgba(255, 255, 255, 0.55);
    text-decoration: none;
    transition: color 0.3s;
}

.moreinformations8:hover {
    color: rgba(255, 255, 255, 0.752);
}

